[Unit]
Description=Azure trapper Daemon
[Service]
ExecStart=~/azure_trapper/azure_trapper.py
Restart=always
Type=simple
[Install]
WantedBy=multi-user.target
